/*Configurações_Gerais*/
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efefd0;
    color: #3A2A1E;
}
abbr {
    text-decoration: none;
    border-bottom: none;
}