/*Configurações_cabeçalho*/
.cabecalho {
    font-size: 18px;
    color: #f7c59f;
    background-color:#ff6b35;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#titulo {
    margin-bottom: 24px;
    font-size: 22px;
    color: #f7c59f;
}
.acoes-header {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    gap: 12px;
}

/*Configurações_conteúdo*/

/*Primeira parte*/
.conteudo1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.conteudo1-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 120px;
}
.txt11 h1 {
    font-size: 36px;
    margin-bottom: 0;
}
.txt12 {
    font-size: 18px;
    width: 600px;
    margin-top: 15px;
    font-weight: bolder;
}
.btn2 {
    margin-top: 15px;
    margin-left: 88px;
}
.img1 {
    width: 500px;
    height: 250px;
    margin: 20px;

    border: 2px solid #ff6b35;
    background-color: white;
    margin-right: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Segunda parte*/
.conteudo2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.txt21 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.img2 {
    width: 450px;
    height: 280px;
    margin: 20px;

    border: 2px solid #ff6b35;
    background-color: white;

    margin-left: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.txt22 {
    width: 450px;
    height: 280px;
    font-size: 20px;

    margin-right: 30px;
    text-align: center;
    font-weight: bolder;
}
/*Terceira parte*/
.conteudo3 {
    display: flex;     
    justify-content: center;  
    gap: 60px;                
    align-items: flex-start;   

}
.conteudo3 h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
.conteudo3 p{
    font-weight: lighter;
}
.part1, .part2, .part3 {
    width: 300px;
    text-align: center;
}
.ttl2, .ttl3{
    margin-bottom: 15px;
}
.ttl1{
    width: 325px;
    margin-bottom: 15px;
    margin-left: 0;
}
.icon1, .icon2, .icon3{
    margin-bottom: 15px;
}

.info{
    margin-top: 5px;
}