/*Configurações_conteúdo*/

/*Primeira parte*/
.conteudo1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 45px;

    width: 100%;

    padding: 15px 60px 20px 60px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.conteudo1-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.txt11 h1 {
    font-size: 36px;
    margin-bottom: 0;
}
.txt12 {
    font-size: 18px;
    width: 600px;
    margin-top: 15px;
}
.btn2 {
    margin-top: 15px;
    margin-left: 88px;
}
.img1 img {
    width: 525px; 
    height: 300px;

    padding: 5px #EFEFD0;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(58, 42, 30, 0.18);

    border-radius: 5px;
}

/*Segunda parte*/
.conteudo2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 20px;

    margin-bottom: 35px;
}

.txt21 {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.img2 img {
    width: 520px;
    height: 300px;

    border-radius: 5px;
    border: 2px solid #3a2a1e;
    box-shadow: 0 3px 8px rgba(58, 42, 30, 0.18);
}

.txt22 {
    width: 470px;
    height: 280px;
    font-size: 22px;
    text-align: center;
}
/*Terceira parte*/
.conteudo3 {
    display: flex;     
    justify-content: center;  
    gap: 60px;                
    align-items: flex-start;   

}
.conteudo3 h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
.part1, .part2, .part3 {
    background-color: white;
    border: 1px solid #ff6b35;
    border-top: 5px solid #ff6b35;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(58, 42, 30, 0.18);
    
    height: 230px;
    width: 315px;
    
    margin-bottom: 15px;
    text-align: center;
}
.ttl1, .ttl2, .ttl3{
    margin-bottom: -10px;
}
.ttl1{
    width: 325px;
    padding-right: 10px;
}
.txt31, .txt32, .txt33{
    margin-left: 7px;
    width: 300px;
}
.icon1, .icon2, .icon3{
    margin-top: 10px;
}

.info{
    margin-top: 5px;
}