/* ---------- reset basico ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --laranja: #FF6B35;
  --pessego: #F7C59F;
  --creme: #EFEFD0;
  --texto-escuro: #3A2A1E;
  --texto-suave: #7A6A5A;
  --erro: #C0392B;
}